

body {
  box-sizing: border-box;
  background: #eee;
  font-family: sans-serif;
  padding-top: 30px;
}

.card {
  display: block;
  width: 800px;
  background: #fff;
  margin: auto;
  padding: 20px;
}

.title {
  margin-top: 30px;
  background: #e3f4ff;
  padding: 15px 20px;
}

h1{
  display: inline;
}
.content {
  background: #e3f4ff;
  font-size: xx-large;
  margin: 20px 0px;
  padding: 5px 20px;
}

.button-container {
  margin: auto;
  padding: 20px;
  background: #e3f4ff;
  font-size: xx-large;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  font-size: xx-large;
  margin: auto;
  padding: 20px 40px;
}